<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>list view</title>
  <script src="../../dist/leopard.js"></script>
</head>

<body>
  <div id="app"></div>
  <script type="text/javascript">
  var tpl = '<ul style=\"float:left;\">' +
    '<% for (var i = 0; i < 20; i++) { %>' +
    '<li><%= i %>: I am <%= name %>!</li>' +
    '<% } %>' +
    '</ul>' +
    '<ul style=\"float:left;\">' +
    '<% for (var i = 0; i < 20; i++) { %>' +
    '<li><%= i %>: I am <%- name | toUpperCase %>!</li>' +
    '<% } %>' +
    '</ul>'
  var data = {
    name: '<em>Leopard</em>'
  }
  Leopard.filter('toUpperCase', function(string) {
    return string.toUpperCase()
  })
  var leo = new Leopard()
  var html = leo.compile(tpl, data)
  document.getElementById('app').innerHTML = html

  </script>
</body>

</html>
